{{#if show_for}}
  {{#if displaySearchBanner}}
    <div class="custom-search-banner">
      <div class="wrap custom-search-background">
      </div>
      <div class="wrap custom-search-banner-wrap">
        <h1>Transformation numérique des <strong>collectivités territoriales</strong>.</h1>
        <p class="custom-search-banner-text">Retrouvez les sujets abordés</p>
        {{mount-widget widget="search-widget"}}
      </div>
    </div>
  {{/if}}
{{/if}}
