
:root {
  --btn-cta-fg: #fff;
  --btn-cta-bg: #009F79;
  --tertiary-medium: #a05bea;
  --create-topic-fg: #fff;
  --create-topic-bg: #009;
  --neutral: #888;
  --black: #161616;
}

body,
h1, h2, h3, h4, h5, h6 {
  font-family: Marianne, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

table td {
  vertical-align: top;
}

// Global rounded button to extend
.btn-behavior {
  font-size: 1.1rem !important;
  font-weight: 700;
  border-radius: .5rem;
  padding: .5rem 2rem .6rem !important;
  color: var(--neutral);
}

// Global primary button to extend
.btn-primary-behavior {
  color: var(--create-topic-fg) !important;
  background-color: var(--create-topic-bg) !important;
}

// Login/Signup buttons
.header-buttons button {
  @extend .btn-behavior;
  &.sign-up-button {
    @extend .btn-primary-behavior;
  }
}

// Modals account buttons
.modal button {
  @extend .btn-behavior;
  &.btn-primary {
    @extend .btn-primary-behavior;
  }
}

// Post list footer buttons
#topic-footer-buttons button {
  @extend .btn-behavior;
  &.btn-primary {
    @extend .btn-primary-behavior;
  }
}

.banner {

  &> div {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
  }

  .text {
    flex: 1;
    font-size: 1.2rem;
    margin: 0;
    padding: 2rem 25% 2rem 0;
    p {
      margin: .5rem 0;
    }
    h1 {
      font-size: 2.63rem;
    }
  }
}

.home.banner {
  background-color: #F0F6F5;
  padding: 3rem 1.3rem;
  & > div {
    background-size: 10rem;
  }
  .wrap {
    padding: 0;
  }
  h1 {
    margin: 0;
    margin-bottom: 1.4rem;
  }


  button,
  a.btn {
    width: max-content;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    background-color: var(--btn-cta-bg) !important;
    margin: 2rem 0;
    color: var(--btn-cta-fg) !important;
    border: 0;

    svg {
      display: none !important;
    }

    &::after {
      content: " →";
      margin-left: .5rem;
    }
  }
}

.category.banner {
  position: relative;
}
.category .color-filter {
  background-color: rgba(255, 255, 255, .75);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.category-heading {
  display: none;
}

.header-categories-list {
  h2 {
    font-size: 1.1rem;
    padding: 1.5rem 0;
  }
  a {
    width: fit-content;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
    border-radius: .5rem;
    margin: 0 2rem 2rem 0;
    display: flex;
    align-items: center;
    color: var(--black);
    font-size: 1.1rem;

    span:first-child {
      padding: 2rem;
      min-width: .3rem;
      width: 2rem;
    }
    span:last-child {
      background-color: #ffffff;
      width: 100%;
      padding: 1.5rem 2rem;
      align-self: stretch;
      border-radius: 0 .5rem .5rem 0;
    }
  }
}

.breadcrumb {
  margin: 1rem 0;
  a:not(:last-of-type):after {
    display: inline-block;
    content: " » ";
    margin: 0 .5rem;
  }
  a:hover {
    text-decoration: underline;
  }
}


// Override Discourse theme

.topic-list-item.visited a.title:not(.badge-notification),
.latest-topic-list-item.visited a.title:not(.badge-notification),
.category-topic-link.visited a.title:not(.badge-notification) {
  color: var(--tertiary-medium);
}


.navigation-container {
  // Categories and tags selector, Create topic button
  & > :not(.nav-pills) {
    a,
    button,
    .select-kit-header {
      border-radius: 2rem;
      padding: 0 1.3rem .2rem 1.3rem;
      background-color: var(--header_background);

      &:focus,
      &:active {
        outline: none;
      }
    }
  }

  // Latest / unread / top buttons
  .nav-pills {
    & > li a {
      background-color: transparent;

      &.active,
      &:hover {
        color: var(--neutral);
        background-color: transparent;
      }
    }
  }

  .btn-icon-text {
    background-color: var(--create-topic-bg) !important;
    color: var(--create-topic-fg) !important;
    .icon {
      display: none !important;
    }
  }
}

// General buttons
:not(.d-editor-button-bar) >
.btn:not(.single-select-header):not(.modal-close),
.topic-notifications-button > .select-kit > .btn {
  background-color: var(--header_background);
  color: var(--primary);
  border: 1px solid var(--primary-low-mid);
  svg {
    color: white !important;
    height: 14px;
  }

  .d-icon {
    color: var(--primary);
  }

  &:hover {
    background-color: var(--quaternary-low);
    color: var(--primary);
    .d-icon {
      color: var(--primary);
    }
  }
}

// Topic links
.topic-list-main-link a.title,
.topic-list .main-link a.title,
.latest-topic-list-item .main-link a.title {
  color: var(--tertiary);
  &:hover {
    text-decoration: underline;
  }
}

// Page icon in categories list
.category-box .d-icon-far-file-alt {
  display: none;
}


// Thread page

.post-info.edits {
  display: none;
}

body:not(.staff) .small-action {
  display: none;
}

#main-outlet {
  padding: 1.3rem;
}
