.head-banner {
  width: 100%;
  background: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 1em;
  margin: 1rem auto;
  box-shadow: 3px 3px 1rem rgba(0,0,0, 0.1);

  h1 {
    font-weight: normal;
  }
}

.display-search-banner {
  .search-banner {
    padding: 2rem 5rem;
    box-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.2);
    margin: 0 0 3rem 0;
  }
  .custom-search-banner-text {
    margin-top: 2rem;
    text-align: center;
  }

  input {
    flex: auto;
  }
}
