body:not(.staff) .hamburger-dropdown {
  display: none;
}

.home.banner {
  & > div {
    background-image: url($home_banner_image);
    background-size: auto;
  }
}


.banner {
  .text {
    padding: 5rem 25% 5rem 0;
  }
}

.header-categories-list {
  h2 {
    font-size: 1.1rem;
    padding: 1.5rem 0;
  }
  a {
    display: inline-flex;
  }
}

// remove "+" sign from button "Create a topic"
button.btn-icon-text > svg {
  display: none !important;
}
