body:not(.staff) .hamburger-dropdown {
  display: none;
}

.home.banner {
  padding: 3rem 1.3rem;
  & > div {
    background-image: url($home_banner_image);
    background-size: auto;
  }
  .wrap {
    padding: 0;
  }
}


.banner {
  .text {
    padding: 5rem 25% 5rem 0;
  }
}
